CacheControl==0.12.11
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
commonmark==0.9.1
defusedxml==0.7.1
dnspython==2.3.0
falcon==3.1.1
httpie==3.2.1
idna==3.4
lxml==4.9.2
msgpack==1.0.4
multidict==6.0.4
Pygments==2.14.0
pymongo==4.3.3
PySocks==1.7.1
pywebcopy==7.0.2
requests==2.28.2
requests-toolbelt==0.10.1
rich==13.1.0
six==1.16.0
tqdm==4.64.1
urllib3==1.26.14
waitress==2.1.2
